<!-- conditions -->
<!-- 
<div class="product">
  <h1>{{products[0].name}}</h1>
  <h1>{{products[0].price}}</h1>

  @if(products[0].quantity>0){
    <p>Available</p>
  }
  @else{
  <p>Not Available</p>
  }
  
</div> -->

<!-- Loops -->
<div class="products">
  @for(product of products ; track product.id){

    <div class="product">
      <h1>{{product.name}}</h1>
      <h1>{{product.price}}</h1>
      <!-- <h2>{{$index}}</h2>
      <h3>{{$even}}</h3> -->

      @if(product.quantity>0){
        <p class="green"></p>
      }
      @else{
      <p class="red"></p>
      }
    <button [disabled]="product.quantity==0">Add to Cart</button>
    </div>
  }
</div>